*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.board{
    width: 18rem;
    height: 18rem;
    background-color: crimson;
    border-radius: 0.75rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .3em 0.3em;
    border: 0.3em solid crimson;
    position: relative;
}
.tile{
    /* width: 6rem; height: 6rem; */
    background-color: aliceblue;
    border-radius: 0.75rem;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.5;
}
#tile-0{
    background-color: rgb(224, 113, 135);
}
